/* 
 --TYPOGRAPHY SYSTEM
 -Font size(px)
 10 / 12 / 14/ 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  
 
 --SPACING SYSTEM(px)
 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

 -- 02 colours
 -primary:#d9480f
 -tints:#fff4e6
 -shades:
 -accents:
 -greys:
  #555
  #333
TINTS AND SHADES OF YELLOW
-#fff4e6
-#ffe8cc
-#ffd8a8
-#ffc078
-#ffa94d
-#ff922b
-#fd7e14
-#f76707
-#e8590c
-#d9480f
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  /* scroll-behavior: smooth; */
}
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.logo {
  width: 15rem;
  height: 2.4rem;
  display: flex;
  align-self: center;
}
.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 1.6rem;
  background-color: #fff4e6;
}
/* .sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
} */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  font-size: 1.8rem;
  align-items: center;
}
.main-nav-link {
  text-decoration: none;

  color: #333;
}
.main-nav-link:last-child {
  background-color: #d9480f;
  padding: 0.5rem;
  border-radius: 6px;
}

.section-hero {
  background-color: #fff4e6;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem;
  gap: 9.6rem;
}
.hero-text-box {
  padding-bottom: 9.6rem;
}
.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}
.hero-img {
  width: 100%;
}

.heading-primary {
  font-size: 6.2rem;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  color: #333;
  line-height: 1.05;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  color: #fff;
}
.btn:hover,
.btn:active {
  color: #ffc078;
}
.btn--full {
  background-color: #d9480f;
  border-radius: 15px;
  color: #fff;
  margin-right: 1.6rem;
}
.btn--outline:link,
.btn--outline:visited {
  color: #555;
  background-color: #fff;
  border-radius: 15px;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fff4e6;
  /* border: 2px solid #333; */
  /* trick of applying border */
  box-shadow: inset 0 0 0 3px #fff;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-meals {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  margin-top: 3.2rem;
}
.delivered-text span {
  color: #d9480f;
  font-weight: 700;
}
.featured-in-text {
  text-align: center;
  text-transform: uppercase;
  margin-top: 9.6rem;
  color: #555555c9;
}
.logos {
  display: flex;
  height: 2.4rem;
  gap: 1.8rem;
  margin: 1.6rem 4.8rem 9.6rem 0rem;
  filter: grayscale(100%);
  opacity: 45%;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2--cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid--3--cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid--4--cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sub-heading {
  display: inline-block;
  text-transform: uppercase;
  color: #cf711f;
  font-weight: 500;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  letter-spacing: 0.75px;
}
.step-number {
  display: block;
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.step-img img {
  width: 35%;
}
.step-img {
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}
.heading-secondary {
  font-size: 4.4rem;
  margin-bottom: 6.4rem;
  line-height: 1.2;
}
.heading-tertiary {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.step-description {
  color: #555;
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img::before,
.step-img::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.step-img::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #ffe8cc;
  border-radius: 50%;
}
.step-img::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #ffd8a8;
  z-index: -1;
}
.meal-attributes {
  list-style: none;
}
.meal-img {
  width: 70%;
}
/* .checkmark-outline{
  width:2.4rem;
  height:2.4rem;
} */
/* .meal-icon{
  width:2.4rem;
  height:2.4rem;
} */
.sample-meals img {
  width: 100%;
}

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
}
.cta {
  height: 50rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.cta-img-box {
  background-image: url(../img/eating.jpg);
  background-size: cover;
}
